@import "tailwindcss";

@theme {
  --color-background: oklch(0.98 0 0);
  --color-foreground: oklch(0.24 0 0);
  --color-card: oklch(0.99 0 0);
  --color-card-foreground: oklch(0.24 0 0);
  --color-popover: oklch(0.99 0 0);
  --color-popover-foreground: oklch(0.24 0 0);
  --color-primary: oklch(0.43 0.04 42.00);
  --color-primary-foreground: oklch(1.00 0 0);
  --color-secondary: oklch(0.92 0.07 76.67);
  --color-secondary-foreground: oklch(0.35 0.07 41.41);
  --color-muted: oklch(0.95 0 0);
  --color-muted-foreground: oklch(0.50 0 0);
  --color-accent: oklch(0.93 0 0);
  --color-accent-foreground: oklch(0.24 0 0);
  --color-destructive: oklch(0.63 0.19 33.26);
  --color-destructive-foreground: oklch(1.00 0 0);
  --color-border: oklch(0.88 0 0);
  --color-input: oklch(0.88 0 0);
  --color-ring: oklch(0.43 0.04 42.00);
  --color-chart-1: oklch(0.43 0.04 42.00);
  --color-chart-2: oklch(0.92 0.07 76.67);
  --color-chart-3: oklch(0.93 0 0);
  --color-chart-4: oklch(0.94 0.05 75.02);
  --color-chart-5: oklch(0.43 0.04 42.00);

  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}